<!-- Page-Title -->
<div class="row">
  <div class="col-sm-12">
    <h4 class="page-title"><i class="fa fa-cutlery" aria-hidden="true"></i>&nbsp;Quản lý món ăn</h4>
  </div>
</div>
<!-- Page-Title -->

<div class="row">
  <div class="col-sm-12">
    <div class="card-box table-responsive">

      <h4 class="m-t-0 header-title"><b>Món ăn đã đăng</b></h4>
      <% if !flash[:notice].blank? %>
          <div class="alert alert-success alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= flash[:notice] %>
          </div>
      <% end %>
      <div style="margin-bottom: 15px;"><a href="/admin/thanh-vien/quan-ly-mon-an/them" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Thêm mới</a></div>

      <table id="datatable-responsive" class="table table-striped table-bordered dt-responsive" cellspacing="0" width="100%">
        <thead>
        <tr>
          <th>STT</th>
          <th>Tên món</th>
          <th>Hình ảnh</th>
          <th>Giá</th>
          <th>Giá KM</th>
          <th>Số lượng</th>
          <th>Loại</th>
          <th>Ngày cập nhật</th>
          <th>Ẩn/Hiện</th>
          <th>Tùy chọn</th>
        </tr>
        </thead>
        <tbody>
        <% if @foods.length > 0 %>
        <% i = 0 %>
        <% @foods.each do |food| %>
        <% i = i + 1 %>
        <tr>
          <td align="center"><%= i %></td>
          <td><%= food.name ? food.name : '' %></td>
          <td align="center">
            <% if food.image_url_1 %>
              <%= image_tag food.image_url_1_url.to_s, :class=>"img-responsive", width: '50' %>
            <% end %>
          </td>
          <td><%= food.price ? number_to_currency(food.price,:unit => '', :precision => 0) : '' %></td>
          <td><%= food.promote_price ? number_to_currency(food.promote_price,:unit => '', :precision => 0) : '' %></td>
          <td align="center"><%= food.stock_qty ? food.stock_qty : 0 %></td>
          <td><%= food.category.name ? food.category.name : '' %></td>
          <td><%= food.updated_date.strftime("%d/%m/%Y") %></td>
          <td align="center">
            <% if food.status == true %>
              <%= check_box_tag 'status_'+food.food_id.to_s, '1', true %>
            <% else %>
              <%= check_box_tag 'status_'+food.food_id.to_s, '0' %>
            <% end %>
          </td>
          <td>
            <a href="/admin/thanh-vien/quan-ly-mon-an/cap-nhat/<%= food.food_id %>" id="edit_<%= food.food_id.to_s %>" class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>&nbsp;Sửa</a>&nbsp;<button id="del_<%= food.food_id.to_s %>" class="btn btn-sm btn-danger btn-del"><i class="fa fa-times" aria-hidden="true"></i>&nbsp;Xóa</button>
          </td>
        </tr>
        <% end %>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#datatable-responsive').DataTable({
            "columnDefs": [
                {"targets": 2, "orderable": false, "searchable": false},
                {"targets": -1, "orderable": false, "searchable": false},
                {"targets": -2, "orderable": false, "searchable": false}
            ]
        });
    } );
//    TableManageButtons.init();
    $('input[type=checkbox]').confirm({
        title: 'Hệ thống xác thực',
        content: 'Bạn chọn ẩn/hiện món ăn này ?',
        buttons: {
            ok: function(){
                var obj = this.$target;
                var id = this.$target.attr('id');
                var str = id.split('_');
                id = str[str.length-1];
                var status = this.$target.val();
                status = (status == 1) ? false : true;
                $.ajax({
                    url : url_base+"/mon-an/cap-nhat-trang-thai/"+id,
                    type : "PUT",
                    dateType:"json",
                    data : {status: status},
                    success : function (response){
                        if(response.message == 'success'){
                            if(status == false){
                                obj.val(0);
                                obj.prop('checked',false);
                            }else{
                                obj.val(1);
                                obj.prop('checked',true);
                            }
                        }
                    },
                    error: function() {
                        return false;
                    }
                });
            },
            cancel: function () {

            }
        }
    });
    $('.btn-del').confirm({
        title: 'Hệ thống xác thực',
        content: 'Bạn chọn xóa món ăn này ?',
        buttons: {
            ok: function(){
                var obj = this.$target;
                var id = this.$target.attr('id');
                var str = id.split('_');
                id = str[str.length-1];
                $.ajax({
                    url : url_base+"/mon-an/xoa/"+id,
                    type : "DELETE",
                    success : function (response){
                        if(response.message == 'success'){
                            window.location.reload();
                        }
                    },
                    error: function() {
                        return false;
                    }
                });
            },
            cancel: function () {

            }
        }
    });
</script>