<header id="header" role="banner">
  <section class="header-container">
    <div id="header-main">
      <div class="container">
        <div class="row">
          <div id="header_logo" class="inner col-lg-3 col-md-3 col-sm-4 col-xs-8">

            <h1 class="pull-left">


              <a href="/">
                <%= image_tag "logo.jpg", :class=>"replace-2x img-responsive" %>
              </a>


            </h1>

          </div>
          <div class="header-right col-lg-9 col-md-9 col-sm-8 col-xs-4">

            <!--Top Menu -->
            <div id="apollo-menu">
              <nav id="cavas_menu" class="apollo-megamenu">
                <div class="" role="navigation">
                  <div id="apollo-top-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav megamenu">


                      <li class="">
                        <a class="" href="/" target="_self">
                          <span class="">Trang chủ</span>
                        </a>
                      </li>

                      <li>
                        <a class="" href="/tai-khoan" target="_self">
                          <span class="">Tài khoản đăng bán</span>
                        </a>
                      </li>

                      <li class="">
                        <a class="" href="/gioi-thieu" title="Giới thiệu" target="_self">
                          <span class="">Giới thiệu</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <%= cookies[:email] %>
                      <% if current_user %>
                          <span style="cursor: pointer" class="login-part">
                            <% if current_user.image_url %>
                              <img src="<%= current_user.image_url %>" style="width: 25px; height: 25px;"/>
                            <% else %>
                              <%= image_tag 'themes_support/user.png', :style=>"width:25px; height:25px" %>
                            <% end %>
                            &nbsp;<%= current_user.name %>
                            &nbsp;&nbsp;<a href="/tai-khoan/dang-xuat"><span class="label label-danger">Đăng xuất</span></a>
                          </span>
                      <% else %>
                          <span style="cursor: pointer" class="login-part" id="btn_login"><i class="fa fa-power-off"></i>&nbsp;ĐĂNG NHẬP</span>
                      <% end %>

                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <!-- End Menu -->


            <div class="inner no-padding col-lg-8 col-md-8 col-sm-8 hidden-xs">
              <div class="search_block_top clearfix">

                <div class="nav-search visible">

                  <form class="input-group searchbox search-box" action="/tim-kiem" method="get" role="search">
                    <div class="search-input-wrapper clearfix input-group">
                      <input class="search_query_top form-control input-lg input-search" size="70" type="search" id="tu_khoa" name="key" value="" placeholder="Tên món ăn bạn cần tìm ?" aria-label="Tên món ăn bạn cần tìm ?">
                      <span class="input-group-addon input-group-search">
                        <button class="search_button" id="btn_tim_kiem" type="submit">
                          Tìm kiếm
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

              </div>
            </div>
            <div class="inner col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div id="cart" class="blockcart_top clearfix">
                <div class="media heading">
                  <div class="cart-inner media-body">
                    <a href="/gio-hang/chi-tiet" id="CartToggle">
                      <div class="icon-cart"></div>
                      <span class="fix-cart">GIỎ HÀNG</span>
                      <span id="cart_qty" class="badge">
                        <% if cookies[:cur_qty] %>
                          <%= cookies[:cur_qty] %>
                        <% else %>
                          0
                        <% end %>
                      </span>
                      <span> - </span>
                      <span id="cart_cost">
                        <% if cookies[:cur_cost] %>
                          <%= number_to_currency(cookies[:cur_cost], :unit => '', :precision => 0) %>₫
                        <% else %>
                          0₫
                        <% end %>
                      </span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="header-bottom hidden-lg hidden-md col-sm-12 col-xs-12">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas" data-target="#off-canvas-nav">
                <span class="fa fa-bars"></span>
                <span class="menu-only">Menu</span>
              </button>
              <div>
                <% if current_user %>
                    <span style="cursor: pointer" class="login-part">
                      <% if current_user.image_url %>
                          <img src="<%= current_user.image_url %>" style="width: 25px; height: 25px;"/>
                      <% else %>
                          <%= image_tag 'themes_support/user.png', :style=>"width:25px; height:25px" %>
                      <% end %>
                      &nbsp;<%= current_user.name %>
                      &nbsp;&nbsp;<a href="/tai-khoan/dang-xuat"><span class="label label-danger">Đăng xuất</span></a>
                    </span>
                <% else %>
                    <span style="cursor: pointer" class="login-part" id="btn_login_2"><i class="fa fa-power-off"></i>&nbsp;ĐĂNG NHẬP</span>
                <% end %>

              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>