<header id="header" role="banner">
  <section class="header-container">
    <div id="header-main">
      <div class="container">
        <div class="row">
          <div id="header_logo" class="inner col-lg-3 col-md-3 col-sm-4 col-xs-8">

            <h1 class="pull-left">


              <a href="/" itemprop="url">
                <%= image_tag "logo.jpg", :class=>"replace-2x img-responsive" %>
              </a>


            </h1>

          </div>
          <div class="header-right col-lg-9 col-md-9 col-sm-8 col-xs-4">

            <!--Top Menu -->
            <div id="apollo-menu">
              <nav id="cavas_menu" class="apollo-megamenu">
                <div class="" role="navigation">
                  <div id="apollo-top-menu" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav megamenu">


                      <li class="active">
                        <a class="" href="/trang-chu" target="_self">
                          <span class="">Trang chủ</span>
                        </a>
                      </li>

                      <li>
                        <a class="" href="/tai-khoan" target="_self">
                          <span class="">Tài khoản đăng bán</span>
                        </a>
                      </li>


                      <!--<li class="parent dropdown full-width ">-->
                        <!--<a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections" title="Bộ sưu tập" target="_self">-->
                          <!--<span class="menu-title">Thực đơn hôm nay</span><b class="caret"></b>-->
                        <!--</a>-->


                        <!--<div class="dropdown-sub dropdown-menu sub-apmegamenu-1">-->
                          <!--<div class="dropdown-menu-inner">-->
                            <!--<div class="row">-->

                              <!--<div class="mega-col col-sm-3">-->

                                <!--<div class="row">-->


                                  <!--<div class="col-sm-12">-->
                                    <!--<div class="mega-col-inner ">-->
                                      <!--<div class="menu-title">Hiển thị-->
                                      <!--</div>-->
                                      <!--<div class="widget-inner">-->
                                        <!--<ul class="nav-links">-->


                                          <!--<li>-->
                                            <!--<a href="/dang-luoi-cot-trai" title="Dạng lưới, cột trái">Dạng-->
                                              <!--lưới, cột trái</a>-->
                                          <!--</li>-->

                                          <!--<li>-->
                                            <!--<a href="/dang-luoi-cot-phai" title="Dạng lưới, cột phải">Dạng-->
                                              <!--lưới, cột phải</a>-->
                                          <!--</li>-->

                                          <!--<li>-->
                                            <!--<a href="/dang-danh-sach-cot-trai" title="Dạng danh sách, cột trái">Dạng-->
                                              <!--danh sách, cột-->
                                              <!--trái</a>-->
                                          <!--</li>-->

                                          <!--<li>-->
                                            <!--<a href="/dang-danh-sach-cot-phai" title="Dạng danh sách, cột phải">Dạng-->
                                              <!--danh sách, cột-->
                                              <!--phải</a>-->
                                          <!--</li>-->

                                          <!--<li>-->
                                            <!--<a href="/toan-chieu-rong" title="Toàn chiều rộng">Toàn-->
                                              <!--chiều rộng</a>-->
                                          <!--</li>-->


                                        <!--</ul>-->
                                      <!--</div>-->
                                    <!--</div>-->
                                  <!--</div>-->


                                <!--</div>-->
                              <!--</div>-->


                              <!--<div class="mega-col col-sm-5">-->


                                <!--&lt;!&ndash;<div class="block-video">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="widget-inner">&ndash;&gt;-->
                                <!--&lt;!&ndash;<iframe width="100%" height="200"&ndash;&gt;-->
                                <!--&lt;!&ndash;src="https://www.youtube.com/embed/rsCD_XoMLQE"&ndash;&gt;-->
                                <!--&lt;!&ndash;frameborder="0"&ndash;&gt;-->
                                <!--&lt;!&ndash;allowfullscreen=""></iframe>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                              <!--</div>-->


                              <!--<div class="mega-col col-sm-4">-->


                                <!--<div class="products_menu">-->

                                  <!--<div class="menu-title">-->
                                    <!--Sản phẩm nổi bật-->
                                  <!--</div>-->

                                  <!--<div class="product-block">-->


                                    <!--<div class="product-container clearfix">-->
                                      <!--<div class="product-meta">-->
                                        <!--<h5 class="name">-->
                                          <!--<a class="product-name"-->
                                             <!--href="/com-ga"-->
                                             <!--title="Cơm gà">-->
                                            <!--Cơm gà-->
                                          <!--</a>-->
                                        <!--</h5>-->
                                        <!--<div class="product-desc">-->
                                          <!--<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">-->
                                            <!--<br> Trong ẩm thực Việt, có lẽ chẳng...-->
                                          <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="content_price">-->

                                                                                                <!--<span class="price product-price">-->
		                    <!--40.000₫-->
		                <!--</span>-->
                                        <!--</div>-->
                                      <!--</div>-->
                                      <!--<div class="image ">-->
                                        <!--<a class="product_img_link" href="/com-ga" title="Cơm gà">-->
                                          <!--<%= image_tag "products/4556114201404-fix.jpg", :class=>"replace-2x img-responsive" %>-->
                                        <!--</a>-->
                                      <!--</div>-->

                                    <!--</div>-->


                                    <!--<div class="product-container clearfix">-->
                                      <!--<div class="product-meta">-->
                                        <!--<h5 class="name">-->
                                          <!--<a class="product-name"-->
                                             <!--href="/com-van-phong"-->
                                             <!--title="Cơm văn phòng">-->
                                            <!--Cơm văn phòng-->
                                          <!--</a>-->
                                        <!--</h5>-->
                                        <!--<div class="product-desc">-->
                                          <!--<p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">-->
                                            <!--<br> Món ăn đơn giản với chiếc bánh...-->
                                          <!--</p>-->
                                        <!--</div>-->
                                        <!--<div class="content_price">-->

                                                                                                <!--<span class="price product-price">-->
		                    <!--35.000₫-->
		                <!--</span>-->
                                        <!--</div>-->
                                      <!--</div>-->
                                      <!--<div class="image ">-->
                                        <!--<a class="product_img_link" href="/com-van-phong" title="Cơm văn phòng">-->
                                          <!--<%= image_tag "products/552048541-fix.jpg", :class=>"replace-2x img-responsive" %>-->
                                        <!--</a>-->
                                      <!--</div>-->

                                    <!--</div>-->

                                  <!--</div>-->
                                <!--</div>-->
                              <!--</div>-->


                            <!--</div>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</li>-->

                      <li class="">
                        <a class="" href="/gioi-thieu" title="Giới thiệu" target="_self">
                          <span class="">Giới thiệu</span>
                        </a>
                      </li>
                    </ul>
                    <div>
                      <% if current_user %>
                          <span style="cursor: pointer" class="login-part">
                            <% if current_user.image_url %>
                              <img src="<%= current_user.image_url %>" style="width: 25px; height: 25px;"/>
                            <% else %>
                              <%= image_tag 'themes_support/user.png', :style=>"width:25px; height:25px" %>
                            <% end %>
                            &nbsp;<%= current_user.name %>
                            &nbsp;&nbsp;<a href="/tai-khoan/dang-xuat"><span class="label label-danger">Đăng xuất</span></a>
                          </span>
                      <% else %>
                          <span style="cursor: pointer" class="login-part" id="btn_login"><i class="fa fa-power-off"></i>&nbsp;ĐĂNG NHẬP</span>
                      <% end %>

                    </div>
                  </div>
                </div>
              </nav>
            </div>
            <!-- End Menu -->


            <div class="inner no-padding col-lg-8 col-md-8 col-sm-8 hidden-xs">


              <script type="text/javascript">
                $(document).ready(function() {
                  $(".searchbox select").change(function() {
                    var val = $(this).val();
                    window.location.href = "https://" + Bizweb.store + val;
                  });
                });
              </script>
              <div class="search_block_top clearfix">

                <div class="nav-search visible">

                  <form class="input-group searchbox search-box" action="/tim-kiem" method="get" role="search">
                    <div class="search-input-wrapper clearfix input-group">
                      <input class="search_query_top form-control input-lg input-search" size="70" type="search" id="tu_khoa" name="key" value="" placeholder="Tên món ăn bạn cần tìm ?" aria-label="Tên món ăn bạn cần tìm ?">
                      <span class="input-group-addon input-group-search">
                        <button class="search_button" id="btn_tim_kiem" type="submit">
                          Tìm kiếm
                        </button>
                      </span>
                    </div>
                  </form>

                </div>

              </div>
            </div>
            <div class="inner col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <div id="cart" class="blockcart_top clearfix">
                <div class="media heading">
                  <div class="cart-inner media-body">
                    <a href="/cart" id="CartToggle">
                      <div class="icon-cart"></div>
                      <span class="fix-cart">GIỎ HÀNG</span>
                      <span id="CartCount">1</span>
                      <span> - </span>
                      <span id="CartCost">214.000₫</span>
                    </a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="header-bottom hidden-lg hidden-md col-sm-12 col-xs-12">
            <div class="navbar-header">

              <button type="button" class="navbar-toggle btn-menu-canvas" data-toggle="offcanvas" data-target="#off-canvas-nav">
                <span class="fa fa-bars"></span>
                <span class="menu-only">Menu</span>
              </button>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</header>