<section class="ap-slideshow" id="ap-slideshow">
  <div class="container">
    <%= render "home/partials/slideshow" %>
    <%= render "home/partials/products_bestsell" %>
  </div>
</section>
<%= render "home/partials/promotion" %>
<section id="columns" class="columns-container">
  <div class="container">
    <div id="center_column" class="center_column col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <div id="content" class="clearfix">

        <div class="row ">
          <div id="apsubcategoriestab_block">
            <% index = 0 %>
            <% @categories.each do |category| %>
                <div class="category_item block clearfix cat_<%= category.id %>">
                  <div class="hidden-md col-lg-3 col-md-12 block category_productlist">
                    <div id="productlistcategory<%= category.id %>" class="products_block block">
                      <h4 class="page-subheading ">
                        Ăn rẻ bất ngờ !!!
                      </h4>
                      <div class="block_content">
                        <div class="carousel slide" id="product_list_00category01">
                          <div class="carousel-inner">
                            <div class="item active">
                              <div class="product_list">
                                <div class="product-items row">
                                  <% if @partial_category_promotes[index].length > 0 %>
                                  <% @partial_category_promotes[index].each do |partial_category_promote| %>
                                  <div class="product_block col-md-12 col-sm-12 col-xs-12 col-sp-12">
                                    <div class="item-variant clearfix product-block">
                                      <div class="product-meta">
                                        <h3 class="name">
                                          <a class="product-name" href="/"><%= partial_category_promote.name %></a>
                                        </h3>
                                        <div class="review clearfix">
                                          <span class="shopify-product-reviews-badge" data-id="<%= partial_category_promote.id %>"></span>
                                        </div>
                                        <div class="content_price clearfix">
                                          <span class="price product-price sale-price"><%= partial_category_promote.promote_price ? number_to_currency(partial_category_promote.promote_price, :unit => '', :precision => 0) : number_to_currency(partial_category_promote.price, :unit => '', :precision => 0) %>₫</span>
                                          <span class="old-price product-price"><%= partial_category_promote.promote_price ? number_to_currency(partial_category_promote.price,:unit => '', :precision => 0)+'₫' : '' %></span>
                                        </div>
                                        <div><i class="fa fa-user-circle"></i>&nbsp;Toan Le</div>
                                        <div class="clearfix"></div>
                                      </div>
                                      <div class="product-image-container image">
                                        <a class="product_img_link" href="/">
                                          <%= image_tag 'food/'+partial_category_promote.image_url_1, :class=>"replace-2x img-responsive" %>
                                        </a>
                                        <% if partial_category_promote.promote_price %>
                                        <span class="product-label sale-box">
                                          <span class="label-sale">-<%= sale_off(partial_category_promote.price, partial_category_promote.promote_price) %>%</span>
                                        </span>
                                        <% end %>
                                        <div class="right">
                                          <div class="action">
                                            <div class="cart addtocart">
                                              <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart" id="product-actions-995767">
                                                <input type="hidden" name="id" value="1504339">
                                                <input type="hidden" name="variantId" value="1504339">
                                                <button class="btn btn-outline-inverse ajax_addtocart" type="submit" value="Submit" data-toggle="tooltip">
                                                  <i class="fa fa-shopping-cart"></i>
                                                  <span>Chọn</span>
                                                </button>
                                              </form>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                      <% end %>
                                      <% else %>
                                      <h5 style="font-weight: bold" class="text-center">Chưa có món ăn khuyến mãi <i class="fa fa-smile-o"></i></h5>
                                  <% end %>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function() {

                            $('#productlistcategory<%= category.id %>').carousel({
                                pause: 'hover',
                                interval: 0
                            });

                        });
                    </script>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-lg-9 col-md-12">
                    <div class="category_sub">
                      <h3 class="title_block pull-left">
                        <% if category.name == 'Cơm' %>
                            <i class="fa fa-university"></i>&nbsp;Cơm
                        <% elsif category.name == 'Bún & Mỳ' %>
                            <i class="fa fa-cutlery"></i>&nbsp;Bún & Mỳ
                        <% elsif category.name == 'Lẩu' %>
                            <i class="fa fa-ship"></i>&nbsp;Lẩu
                        <% elsif category.name == 'Đồ ăn nhanh' %>
                            <i class="fa fa-spoon"></i>&nbsp;Đồ ăn nhanh
                        <% elsif category.name == 'Đồ nướng' %>
                            <i class="fa fa-fire"></i>&nbsp;Đồ nướng
                        <% elsif category.name == 'Hải sản' %>
                            <i class="fa fa-tint"></i>&nbsp;Hải sản
                        <% elsif category.name == 'Bánh kẹo' %>
                            <i class="fa fa-birthday-cake"></i>&nbsp;Bánh kẹo
                        <% else %>
                            <i class="fa fa-glass"></i>&nbsp;Đồ uống
                        <% end %>
                      </h3>
                      <% if category.name == 'Cơm' %>
                          <span class="badge badge_1"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả món cơm</a></span>
                      <% elsif category.name == 'Bún & Mỳ' %>
                          <span class="badge badge_2"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả món bún & mỳ</a></span>
                      <% elsif category.name == 'Lẩu' %>
                          <span class="badge badge_3"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả món lẩu</a></span>
                      <% elsif category.name == 'Đồ ăn nhanh' %>
                          <span class="badge badge_4"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả đồ ăn nhanh</a></span>
                      <% elsif category.name == 'Đồ nướng' %>
                          <span class="badge badge_5"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả đồ nướng</a></span>
                      <% elsif category.name == 'Hải sản' %>
                          <span class="badge badge_6"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả đồ hải sản</a></span>
                      <% elsif category.name == 'Bánh kẹo' %>
                          <span class="badge badge_7"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả bánh & kẹo</a></span>
                      <% else %>
                          <span class="badge badge_8"><a style="color: white" href="/loai-mon-an/<%= category.id %>">Xem tất cả đồ uống</a></span>
                      <% end %>
                      <ul class="nav nav-tabs">
                        <% i = 0 %>
                        <% @child_categories[index].each do |child_category| %>
                            <% i = i + 1 %>
                            <li <%= i == 1?'class=active':'' %>>
                              <a href="#productTabs<%= category.id %>_<%= i %>" data-toggle="tab">
                                <span><%= child_category.name %></span>
                              </a>
                            </li>
                        <% end %>
                      </ul>
                    </div>
                    <div class="category_desc fix-banner">
                      <% if category.name == 'Cơm' %>
                          <%= image_tag "banners/banner_com_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_com_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Bún & Mỳ' %>
                          <%= image_tag "banners/banner_bun_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_bun_2.png", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Lẩu' %>
                          <%= image_tag "banners/banner_lau_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_lau_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Đồ ăn nhanh' %>
                          <%= image_tag "banners/banner_nhanh_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_nhanh_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Đồ nướng' %>
                          <%= image_tag "banners/banner_nuong_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_nuong_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Hải sản' %>
                          <%= image_tag "banners/banner_hai_san_1.png", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_hai_san_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% elsif category.name == 'Bánh kẹo' %>
                          <%= image_tag "banners/banner_banh_1.jpg", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_banh_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% else %>
                          <%= image_tag "banners/banner_uong_1.png", :class=>"replace-2x img-responsive" %>
                          <%= image_tag "banners/banner_uong_2.jpg", :class=>"replace-2x img-responsive" %>
                      <% end %>

                    </div>
                    <div class="category_content">
                      <div class="category_product_tab">
                        <div class="tab-content owl-row">
                          <% i = 0 %>
                          <% @child_categories[index].each do |child_category| %>
                              <% i = i + 1 %>
                              <div class="tab-pane <%= i == 1?'active':'' %>" id="productTabs<%= category.id %>_<%= i %>">
                                <div class="carousel slide" id="home_producttabs<%= category.id %>_collection_<%= i %>">
                                  <div class="carousel-inner">
                                    <div class="item active">
                                      <div class="product_list">
                                        <% if @foods[[index,i-1]].length > 0 and @child_categories[index].length > 0 %>
                                        <% j = 0 %>
                                        <% @foods[[index,i-1]].each do |food| %>
                                            <% if j % 3 == 0 %>
                                        <div class="row product-items">
                                          <% end %>
                                          <div class="product_block col-md-4 col-sm-4 col-xs-12 col-sp-12">
                                            <div class="item-variant clearfix product-block">
                                              <div class="product-meta">
                                                <h3 class="name">
                                                  <a class="product-name" title="<%= food.name %>" href="/"><%= food.name.length > 21?food.name[0..21]+'...':food.name %></a>
                                                </h3>
                                                <div class="review clearfix">
                                                  <span class="shopify-product-reviews-badge" data-id="<%= food.id %>"></span>
                                                </div>
                                                <div class="content_price clearfix">
                                                  <span class="price product-price sale-price"><%= food.promote_price ? number_to_currency(food.promote_price, :unit => '', :precision => 0) : number_to_currency(food.price, :unit => '', :precision => 0) %>₫</span>
                                                  <span class="old-price product-price"><%= food.promote_price ? number_to_currency(food.price,:unit => '', :precision => 0)+'₫' : '' %></span>
                                                </div>
                                                <div class="clearfix"></div>
                                              </div>
                                              <div class="product-image-container image">
                                                <a class="product_img_link" href="/">
                                                  <%= image_tag "food/"+food.image_url_1, :class=>"replace-2x img-responsive" %>
                                                </a>
                                                <% if food.promote_price %>
                                                <span class="product-label sale-box">
                                                  <span class="label-sale">-<%= sale_off(food.price, food.promote_price) %>%</span>
                                                </span>
                                                <% end %>
                                                <div class="right">
                                                  <div class="action">
                                                    <div class="view_detail">
                                                      <a class="btn btn-inverse lnk_view" href="/" data-toggle="tooltip" title="" data-original-title="Xem">
                                                        <i class="fa fa-eye"></i>
                                                      </a>
                                                    </div>
                                                    <div class="cart addtocart">
                                                      <form action="/cart/add" method="post" enctype="multipart/form-data" class="form-ajaxtocart" id="product-actions-1441165">
                                                        <input type="hidden" name="id" value="<%= food.id %>">
                                                        <input type="hidden" name="variantId" value="<%= food.id %>">
                                                        <button class="btn btn-outline-inverse ajax_addtocart" type="submit" value="Submit" data-toggle="tooltip">
                                                          <i class="fa fa-shopping-cart"></i>
                                                          <span>Chọn</span>
                                                        </button>
                                                      </form>
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                              <hr/>
                                              <div class="text-center"><i class="fa fa-user-circle"></i>&nbsp;Toàn Lê</div>

                                            </div>
                                          </div>
                                            <% j = j + 1 %>
                                            <% if j % 3 == 0 || j == (@foods[[index,i-1]].length) %>
                                        </div>
                                                <% end %>
                                        <% end %>
                                            <% else %>
                                        <h3 class="text-center">Hiện tại chưa có món ăn <i class="fa fa-smile-o"></i></h3>
                                            <% end %>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                              </div>
                          <% end %>

                        </div>
                      </div>
                    </div>
                    <script>
                        $(document).ready(function() {

                            $('.category_product_tab .carousel').each(function() {
                                $(this).carousel({
                                    pause: 'hover',
                                    interval: 0
                                });
                            });

                            activeFirstTabs();
                            responsiveCategorytab();
                            $(window).resize(responsiveCategorytab);
                        });
                    </script>
                  </div>
                </div>
                <% index = index + 1 %>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>