<div class="products_bestsell col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
  <div class="products_block block">
    <h4 class="page-subheading ">
      Món ăn cùng loại
    </h4>
    <div class="block_content">
      <% if @category_foods.length > 0 %>
      <div id="product_list_bestsell" class="product_list_owl owl-carousel">
        <% @category_foods.each do |category_food| %>
            <div class="product_block">
              <div class="item-variant clearfix product-block">
                <div class="product-meta">
                  <h3 class="name">
                    <a class="product-name" href="/<%= category_food.url ? category_food.url+'-p'+category_food.id.to_s : '' %>"><%= category_food.name %></a>
                  </h3>

                  <div class="review clearfix">
                    <span class="shopify-product-reviews-badge" data-id="<%= category_food.id %>"></span>
                  </div>

                  <div class="content_price clearfix">
                    <span class="price product-price sale-price"><%= category_food.promote_price ? number_to_currency(category_food.promote_price, :unit => '', :precision => 0) : number_to_currency(category_food.price, :unit => '', :precision => 0) %>
                      ₫</span>
                    <span class="old-price product-price"><%= category_food.promote_price ? number_to_currency(category_food.price, :unit => '', :precision => 0)+'₫' : '' %></span>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="product-image-container image">
                  <a class="product_img_link" href="/<%= category_food.url ? category_food.url+'-p'+category_food.id.to_s : '' %>" title="Súp thập cẩm">
                    <%= image_tag category_food.image_url_1_url.to_s, :class => "replace-2x img-responsive" %>
                  </a>
                  <% if category_food.promote_price %>
                        <span class="product-label sale-box">
                          <span class="label-sale">-<%= sale_off(category_food.price, category_food.promote_price) %>%</span>
                        </span>
                  <% end %>
                  <div class="right">
                    <div class="action">
                      <div class="cart">
                        <a href="/<%= category_food.url ? category_food.url+'-p'+category_food.id.to_s : '' %>">
                          <button class="btn btn-outline-inverse choose" type="submit" value="Submit" data-toggle="tooltip">
                            <i class="fa fa-shopping-cart"></i>
                            <span>Chọn</span>
                          </button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                <hr/>
                <div class="text-center"><i class="fa fa-user-circle"></i>&nbsp;Toàn Lê</div>
              </div>
            </div>
        <% end %>
      </div>
          <% else %>
          <h4 class="text-center">Không có món ăn cùng loại <i class="fa fa-smile-o"></i></h4>
          <% end %>
    </div>
  </div>
</div>