<div class="row">

  <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12 block_verticalmenu">

    <div id="apollo-verticalmenu" class="block apollo-verticalmenu">

      <div class="title_block">
        <span>Gian hàng ẩm thực</span>
        <span class="shapes round">
          <em class="shapes bottom"></em>
        </span>
      </div>

      <div class="block_content" style="">
        <div id="verticalmenu" class="verticalmenu" role="navigation">
          <div class="navbar">
            <div class="navbar-ex1-collapse">
              <ul class="nav navbar-nav nav-verticalmenu">
                <% @categories.each do |category| %>
                    <li class="parent dropdown">
                      <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/all">
                          <span class="menu-icon has-icon">
                            <% if category.name == 'cơm' %>
                              <i class="fa fa-university"></i>
                            <% elsif category.name == 'bún & mỳ' %>
                                <i class="fa fa-cutlery"></i>
                            <% elsif category.name == 'lẩu' %>
                                <i class="fa fa-ship"></i>
                            <% elsif category.name == 'đồ ăn nhanh' %>
                                <i class="fa fa-spoon"></i>
                            <% elsif category.name == 'đồ nướng' %>
                                <i class="fa fa-fire"></i>
                            <% elsif category.name == 'hải sản' %>
                                <i class="fa fa-tint"></i>
                            <% elsif category.name == 'bánh kẹo' %>
                                <i class="fa fa-birthday-cake"></i>
                            <% else %>
                                <i class="fa fa-glass"></i>
                            <% end %>
                            <span class="menu-title"><%= category.name %></span>
                          </span>
                          <b class="caret"></b>
                      </a>
                      <div class="dropdown-sub dropdown-menu sub-apmegamenu-1" style="width:700px">
                      <div class="dropdown-menu-inner">
                      <div class="row">


                      <div class="mega-col col-sm-9">


                      <div class="products_menu">

                      <div class="menu-title">
                      Món ngon trong ngày
                      </div>

                      <div class="product-block">


                      <div class="product-container clearfix">
                      <div class="product-meta">
                      <h5 class="name">
                      <a class="product-name"
                      href="/com-van-phong"
                      title="Cơm văn phòng">
                      Cơm văn phòng
                      </a>
                      </h5>
                      <div class="product-desc">
                      <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                      <br> Món ăn đơn giản với chiếc bánh...
                      </p>
                      </div>
                      <div class="content_price">

                      <span class="price product-price">
                      35.000₫
                      </span>
                      </div>
                      </div>
                      <div class="image ">
                      <a class="product_img_link" href="/com-van-phong" title="Cơm văn phòng">
                      <%= image_tag "products/552048541-fix.jpg", :class=>"replace-2x img-responsive" %>
                      </a>
                      </div>

                      </div>


                      <div class="product-container clearfix">
                      <div class="product-meta">
                      <h5 class="name">
                      <a class="product-name"
                      href="/com-ga"
                      title="Cơm gà">
                      Cơm gà
                      </a>
                      </h5>
                      <div class="product-desc">
                      <p style="color: rgb(0, 0, 0); font-family: Arial, Verdana, sans-serif; font-size: 14px; line-height: normal;">
                      <br> Trong ẩm thực Việt, có lẽ chẳng...
                      </p>
                      </div>
                      <div class="content_price">

                      <span class="price product-price">
                      40.000₫
                      </span>
                      </div>
                      </div>
                      <div class="image ">
                      <a class="product_img_link" href="/com-ga" title="Cơm gà">
                      <%= image_tag "products/4556114201404-fix.jpg", :class=>"replace-2x img-responsive" %>
                      </a>
                      </div>

                      </div>
                      </div>
                      </div>
                      </div>
                        <div class="mega-col col-sm-3">
                          <% if category.name == 'cơm' %>
                              <div class="chef_1">
                                <%= image_tag "chef_1.png"%>
                              </div>
                          <% elsif category.name == 'bún & mỳ' %>
                              <div class="chef_2">
                                <%= image_tag "chef_2.png"%>
                              </div>
                          <% elsif category.name == 'lẩu' %>
                              <div class="chef_3">
                                <%= image_tag "chef_3.png"%>
                              </div>
                          <% elsif category.name == 'đồ ăn nhanh' %>
                              <div class="chef_4">
                                <%= image_tag "chef_4.png"%>
                              </div>
                          <% elsif category.name == 'đồ nướng' %>
                              <div class="chef_5">
                                <%= image_tag "chef_5.png"%>
                              </div>
                          <% elsif category.name == 'hải sản' %>
                              <div class="chef_6">
                                <%= image_tag "chef_6.png"%>
                              </div>
                          <% elsif category.name == 'bánh kẹo' %>
                              <div class="chef_7">
                                <%= image_tag "chef_7.png"%>
                              </div>
                          <% else %>
                              <div class="chef_8">
                                <%= image_tag "chef_8.png"%>
                              </div>
                          <% end %>
                        </div>
                      </div>
                      </div>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(".verticalmenu .caret").click(function() {
        var $parent = $(this).parent();
        $parent.toggleClass('open');
        return false;
      });
    </script>

  </div>
  <div id="slideshow" class="col-lg-6 col-md-9 col-sm-12 col-xs-12">
    <div class="slider-container hidden-sm">

      <div class="leo-viewport" style="overflow: hidden; position: relative;">
        <ul id="sliderlayer" class="slides clearfix" style="width: 800%; transition-duration: 0s; transform: translate3d(-1152px, 0px, 0px);">
          <li data-thumb="images/themes/49902/assets/slideshow_image_3.jpg?1478506655659" class="clone" aria-hidden="true" style="float: left; display: block; width: 576px;">

            <a href="#" class="slide-link">
              <%= image_tag "themes/49902/assets/slideshow_image_3.jpg", :class=>"img-responsive" %>
            </a>

            <div class="slide-caption caption_3">
              <div class="container">

                <div class="text_first">Thức ăn</div>


                <h3>100%</h3>


                <p>Tươi sạch, vệ sinh, đảm bảo an toàn thực phẩm</p>


              </div>
            </div>
          </li>


          <li data-thumb="images/themes/49902/assets/slideshow_image_1.jpg?1478506655659" class="" style="float: left; display: block; width: 576px;">

            <a href="/collections/all" class="slide-link">
              <%= image_tag "themes/49902/assets/slideshow_image_1.jpg", :class=>"img-responsive" %>
            </a>

            <div class="slide-caption caption_1">
              <div class="container">

                <div class="text_first">Miễn phí</div>


                <h3>Đồ uống</h3>


                <p>Khi dùng các món ăn tại nhà hàng Leo Food</p>


              </div>
            </div>
          </li>


          <li data-thumb="images/themes/49902/assets/slideshow_image_3.jpg?1478506655659" class="leo-active-slide" style="float: left; display: block; width: 576px;">

            <a href="#" class="slide-link">
              <%= image_tag "themes/49902/assets/slideshow_image_3.jpg", :class=>"img-responsive" %>
            </a>

            <div class="slide-caption caption_3">
              <div class="container">

                <div class="text_first">Thức ăn</div>


                <h3>100%</h3>


                <p>Tươi sạch, vệ sinh, đảm bảo an toàn thực phẩm</p>


              </div>
            </div>
          </li>


          <li data-thumb="images/themes/49902/assets/slideshow_image_1.jpg?1478506655659" class="clone" aria-hidden="true" style="float: left; display: block; width: 576px;">

            <a href="/collections/all" class="slide-link">
              <%= image_tag "themes/49902/assets/slideshow_image_1.jpg", :class=>"img-responsive" %>
            </a>

            <div class="slide-caption caption_1">
              <div class="container">

                <div class="text_first">Miễn phí</div>


                <h3>Đồ uống</h3>


                <p>Khi dùng các món ăn tại nhà hàng Leo Food</p>


              </div>
            </div>
          </li>
        </ul>
      </div>
      <ol class="leo-control-nav leo-control-paging">
        <li><a class="">1</a>
        </li>
        <li><a class="leo-active">2</a>
        </li>
      </ol>
      <ul class="leo-direction-nav">
        <li><a class="leo-prev" href="#">Previous</a>
        </li>
        <li><a class="leo-next" href="#">Next</a>
        </li>
      </ul>
    </div>
    <script>
      $(document).ready(function() {
        $('.slider-container').flexslider({
          namespace: "leo-",
          animation: "slide",
          smoothHeight: false
        });
      });
    </script>
  </div>
  <div class="col-lg-3 hidden-md hidden-xs hidden-sm">


    <div class="widget-banner block">
      <div class="block_content">
        <div class="image-box">
          <div class="img-banner effect">
            <a href="collections/all">
              <%= image_tag "banner-right-home.png", :class=>"img-responsive" %>
            </a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>