<!DOCTYPE html>
<html>
  <head>
    <title>FOOD LOVER</title>
    <meta property="og:type" content="website">
    <meta property="og:title" content="E-FOODLOVER">

    <meta property="og:image" content="<%= asset_path('logo.jpg') %>">
    <meta property="og:image:secure_url" content="<%= asset_path('logo.jpg') %>">


    <meta property="og:url" content="http://www.e-foodlover.com">
    <meta property="og:site_name" content="E-FOODLOVER">
    <!-- /snippets/twitter-card.liquid -->
    <!-- Helpers ================================================================== -->
    <link rel="canonical" href="http://www.e-foodlover.com">
    <link rel="icon" href="<%= asset_path('favicon.ico') %>">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'frontend/application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="leo-food" class="template-index  header-default  layout-default">
  <div id="page">
    <section id="page_content" class="">
      <div class="ap-pusher-after"></div>
      <%= render "shared/header" %>
      <main class="main-content" role="main">
      <%= yield %>
      </main>
      <%= render "shared/footer" %>
    </section>
    <%= render "shared/back_to_top" %>
    <%= render "shared/login_modal" %>
  </div>
  <%= render "shared/mobile_menu" %>
  </body>
</html>
